@font-face {
  font-family: "Sorts Mill Goudy";
  src: url("/fonts/SortsMillGoudy-Regular.ttf"),
    url("/fonts/SortsMillGoudy-Italic.ttf");
}

body {
  background-color: black;
  font-family: "Sorts Mill Goudy", "Verdana";
  color: white;
}

html,
body {
  height: 100%;
  margin: 0;
}

ul,
ol {
  padding: 0;
}

main {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100%;
  align-items: center;
}

main > div {
  padding: 0 10px;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 0px;
}

.skills {
  display: flex;
}
.skills > *:not(:last-child) {
  margin-right: 10px;
}

.title,
.subtitle {
  text-transform: uppercase;
}
.title {
  color: #fcffff;
}
.subtitle {
  font-size: 14px;
  color: #797f7f;
  margin-top: 0;
}
.subtitle.with-image {
  display: inline-flex;
  align-items: center;
}

.subtitle.with-image > img {
  margin-right: 10px;
}

button {
  border: 1px solid #4f5052;
  border-radius: 6px;
  background-color: transparent;
  padding: 10px 20px;
  color: #797f7f;
  text-transform: uppercase;
  font-weight: bold;
}

.nav-tabs {
  display: flex;
  text-transform: uppercase;
  color: #4f5052;
  font-size: 14px;
  padding-left: 0;
  margin: 20px 0 10px;
}
.nav-tabs > a {
  padding: 0 10px;
  cursor: pointer;
}
.nav-tabs > a:hover {
  color: #b8b9ba;
}
.nav-tabs > a:not(:last-child):after {
  content: "/";
  display: inline-block;
  margin-left: 20px;
  color: #4f5052!important;
}
.nav-tabs > a:first-child {
  padding-left: 0;
}
.nav-tabs > a.active {
  color: #fcffff;
}
.tab-content-item {
  display: none;
}
.tab-content-item.active {
  display: block;
}

.wrapper-canvas {
  position: relative;
  height: 700px;
}
.wrapper-info {
  max-height: 100%;
  overflow: scroll;
  position: relative;
  height: 100%;
  height: 700px;
  padding-right: 50px;
}

@keyframes glow {
  0% {
    background: radial-gradient(
      circle,
      rgba(105, 171, 237, 1) 0%,
      rgba(9, 9, 121, 0) 49%,
      rgba(0, 212, 255, 0) 100%
    );
  }
  10% {
    background: radial-gradient(
      circle,
      rgba(105, 171, 237, 1) 0%,
      rgba(9, 9, 121, 0) 51%,
      rgba(0, 212, 255, 0) 100%
    );
  }
  20% {
    background: radial-gradient(
      circle,
      rgba(105, 171, 237, 1) 0%,
      rgba(9, 9, 121, 0) 53%,
      rgba(0, 212, 255, 0) 100%
    );
  }
  30% {
    background: radial-gradient(
      circle,
      rgba(105, 171, 237, 1) 0%,
      rgba(9, 9, 121, 0) 56%,
      rgba(0, 212, 255, 0) 100%
    );
  }
  100% {
    background: radial-gradient(
      circle,
      rgba(105, 171, 237, 1) 0%,
      rgba(9, 9, 121, 0) 49%,
      rgba(0, 212, 255, 0) 100%
    );
  }
}
